API_URL=http://localhost:8000/api
DATABASE_URL=postgresql://user:secret@localhost:5432/leaf
AUTH_COOKIE=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret