@import "tailwindcss" source("../");

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Breakpoints */
  --breakpoint-*: initial;
  --breakpoint-xs: 360px;
  --breakpoint-sm: 420px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;

  --color-background: oklch(97% 0.01 308.36);
  --color-foreground: oklch(17% 0 0);

  /* Primary */
  --color-primary-50: oklch(93.29% 0.047 314.99);
  --color-primary-100: oklch(85.94% 0.101 314.86);
  --color-primary-200: oklch(74.12% 0.194 314.2);
  --color-primary-300: oklch(63.94% 0.273 312.28);
  --color-primary-400: oklch(58.65% 0.299 308.19);
  --color-primary-500: oklch(46.75% 0.238 308.51);
  --color-primary-600: oklch(40.39% 0.205 309.25);
  --color-primary-700: oklch(32.43% 0.164 309.98);
  --color-primary-800: oklch(25.04% 0.127 310.21);
  --color-primary-900: oklch(15.84% 0.079 312.8);
  --color-primary-950: oklch(12.09% 0.059 317.3);

  /* Fonts */
  --font-inter: "Inter Variable", sans-serif;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1.5rem;
  max-width: 666px;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any elementwp that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

.tiny-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #666 transparent;
}

/* Hide increase/buttons controls in number input for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide increase/buttons controls in number input for Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

/* Hide scrollbars */
.hide-scrollbar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

/* The toast is not wide enough on large screens, so we need to set a larger width for medium and large screens */
@media (min-width: 601px) and (max-width: 768px) {
  .large-width {
    width: 28rem !important;
  }
}
@media (min-width: 769px) {
  .large-width {
    width: 32rem !important;
  }
}
